* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

.header {
    position: fixed;
    top: 0;
    width: 100vw;
    padding: 15px 15px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
}

.header .headerLeft p {
    font-size: px;
    font-weight: 500;
    color: #000;
}

.header .headerRight ul {
    display: flex;
    align-items: center;
}

.header .headerRight ul li {
    list-style: none;
    padding: 12px 16px;
    margin-left: 8px;
    border-radius: 4px;
}

.header .headerRight ul .home {
    background-color: #0D6EFD;
}

.header .headerRight ul li a {
    text-decoration: none;
    color: #0D6EFD;
}

.header .headerRight ul .home a {
    color: #fff;
}

.hero {
    padding: 80px 80px;
    height: 100vh;
    background-color: #37517E;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hero .heroLeft {
    width: 615px;
    padding: 80px 0 0;
}

.hero .heroLeft .heroText .mainText{
    color: #fff;
    font-size: 48px;
    font-weight: 700;
    line-height: 56px
}

.hero .heroLeft .heroText .secondText {
    color: rgba(255, 255, 255, 0.60);
    font-size: 24px;
    font-weight: 500;
    line-height: 28.8px;
}

.hero .heroLeft .heroButton {
    display: flex;
    align-items: center;
    margin-top: 60px;
}

.hero .heroLeft .heroButton .buttonStart {
    outline: none;
    border: none;
    background-color: #47B2E4;
    padding: 9px 28px 12px;
    border-radius: 50px;
    margin-right: 10px;
}

.hero .heroLeft .heroButton .buttonStart:hover {
    background-color: #3b98c4;
}

.hero .heroLeft .heroButton .buttonStart a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.hero .heroLeft .heroButton .buttonWatch {
    outline: none;
    border: none;
    background-color: #47B2E4;
    padding: 9px 28px 12px;
    border-radius: 50px;
    margin-right: 10px;
}

.hero .heroLeft .heroButton .buttonWatch a {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
}

.hero .heroLeft .heroButton .buttonWatch:hover {
    background-color: #3b98c4;
}

.hero .heroRight {
    padding: 80px 0 0
}

.hero .heroRight img {
    max-width: 100%;
    height: auto;
}

.joinNewsletter {
    background-color: #F3F5FA;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0;
}

.joinNewsletter .joinMainText {
    color: #37517E;
    font-size: 24px;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 15px;
}

.joinNewsletter .joinSecondText {
    color: #444;
    font-size: 15px;
    font-weight: 400;
    line-height: 22.5px;
    margin-bottom: 30px;
}

.joinNewsletter form {
    background-color: #fff;
    border-radius: 50px;
    padding: 0 0 0 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 35%;
    box-shadow: 0 0 1px #a0a0a0;
}

.joinNewsletter form input {
    outline: none;
    border: none;
    background-color: transparent;
    width: 73%;
}

.joinNewsletter form button {
    outline: none;
    border: none;
    width: 25%;
    padding: 5px ;
    background-color: #47B2E4;
    border-radius: 50px;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.joinNewsletter form button:hover {
    background-color: #3b98c4;
}

.footer .topFooter {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 50px;
}

.footer .topFooter .footerContent {
    width: 25%;
    margin-bottom: 20px;
}

.footer .topFooter .footerContent .topicFooter {
    color: #37517E;
    font-size: 16px;
    font-weight: 700;
    line-height: 19.2px;
}

.footer .topFooter .footer1 .top {
    margin-bottom: 30px;
}

.footer .topFooter .footerContent .topicContent {
    padding: 4px;
    color: #5E5E5E;
}

.footer .topFooter .footerContent ul li {
    list-style: none;
    color: #5E5E5E;
    padding: 4px;
}

.footer .topFooter .footer1 .top .topicFooter {
    font-size: 28px;
    font-weight: 600;
    line-height: 28px;
}

.footer .topFooter .footer1 .bottom span {
    font-weight: 600;
    color: #5E5E5E;
}

.footer .bottomFooter {
    display: flex;
    justify-content: space-between;
    padding: 20px 50px;
    background-color: #37517E;
}

.footer .bottomFooter .bottomFooterContent {
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
}

.footer .bottomFooter .bottomFooterLeft span {
    font-weight: 600;
}

.footer .bottomFooter .bottomFooterRight span {
    color: #47B2E4;
}

/* responsive */
@media screen and (max-width:980px) {
    .hero .heroLeft .heroText .mainText{
        font-size: 40px;
    }
    .hero .heroLeft .heroText .secondText {
        font-size: 16px;
    }
    .hero .heroLeft .heroButton {
        margin-top: 45px;
    }
    .hero .heroLeft .heroButton .buttonStart {
        padding: 7px 24px;
    }
    .hero .heroLeft .heroButton .buttonWatch {
        padding: 7px 24px;
    }
}
@media screen and (max-width:953px) {
    .footer .topFooter .footerContent {
        width: 50%;
        flex-basis: calc(50% - 10px);
    }
}
@media screen and (max-width:862px) {
    .joinNewsletter form input {
        width: 70%;
    }
    .joinNewsletter form button {
        width: 25%;
        font-size: small;
    }
}
@media screen and (max-width:765px) {
    .hero .heroLeft .heroText .mainText{
        font-size: 35px;
    }
    .hero .heroLeft .heroText .secondText {
        font-size: 11px;
    }
    .hero .heroLeft .heroButton {
        margin-top: 40px;
    }
    .hero .heroLeft .heroButton .buttonStart {
        padding: 5px 22px;
    }
    .hero .heroLeft .heroButton .buttonWatch
    {
        padding: 5px 22px;
    }
    .joinNewsletter form input {
        width: 60%;
    }
    .joinNewsletter form button {
        width: 70px;
        font-size: small;
    }
}
@media screen and (max-width:717px) {
    .hero {
        padding: 50px 50px;
    }
    .joinNewsletter {
        padding: 30px 0;
    }
    .footer .bottomFooter {
        padding: 20px 30px;
    }
}
@media screen and (max-width:659px) {
    .hero .heroLeft .heroButton .buttonStart a {
        font-size: 14px;
    }
    .hero .heroLeft .heroButton .buttonWatch a {
        font-size: 14px;
    }
    .joinNewsletter form input {
        width: 55%;
    }
}
@media screen and (max-width:615px) {
    .hero {
        padding: 30px 30px;
        height: 60vh;
    }
    .hero .heroLeft .heroButton {
        margin-top: 30px;
    }
    .hero .heroRight {
        display: flex;
        justify-content: flex-end;
    }
    .hero .heroRight img {
        max-width: 80%;
        height: auto;
    }
}
@media screen and (max-width:574px) {
    .hero {
        padding: 50px 30px 20px;
        height: 50vh;
    }
    .hero .heroLeft {
        padding: 30px 0 0;
    }
    
    .hero .heroRight {
        display: none;
    }
}
@media screen and (max-width:558px) {
    .header .headerRight {
        display: none;
    }
    .footer .topFooter .footerContent {
        width: 100%;
        flex-basis: calc(100% - 10px);
    }
    .joinNewsletter form input {
        width: 50%;
    }
    .joinNewsletter .joinSecondText {
        width: 80%;
    }
    .joinNewsletter form button {
        width: 70px;
        font-size: smaller;
    }
}
@media screen and (max-width:450px) {
    .footer .bottomFooter {
        flex-direction: column;
    }
    .joinNewsletter form input {
        width: 40%;
    }
}